* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  /* background-image: url(bg.jpg); */
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-size: 3rem;
}
p {
  font-size: normal;
  color: red;
}
